{{#each error}}

<div class="alert alert-danger"> {{text}} </div>
{{else}}

{{/each}}

<h3>New category</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="post">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" placeholder="Name of category" class='form-control'>

            <label for="slug">Slug: </label>
            <input type="text" id="slug" name="slug" placeholder="Slug of category" class='form-control'>
            <br>
            
            <button type="submit" class="btn btn-success"> Add category</button>
        </form>
    </div>
</div>
