{{#each error}}

<div class="alert alert-danger"> {{text}} </div>
{{else}}

{{/each}}

<div class="card mx-auto" style="width: 30rem">
    <div class="card-body">
        <h3 class="text-center mb-5">New category</h3>
        <form action="/admin/categories/new" method="post">
            <label for="name">Name </label>
            <input type="text" id="name" name="name" placeholder="Name" class='form-control mb-3'>

            <label for="slug">Slug </label>
            <input type="text" id="slug" name="slug" placeholder="Slug" class='form-control mb-4'>
            
            <button type="submit" class="btn btn-success mr-3" style="float:right"> Create </button>
        </form>
    </div>
</div><br>

<footer>
    &copy; 2020 <a href="mailto:ruthmariia01@gmail.com" id="copyright">Ruth Maria</a>, Inc. All rights reserved. 
</footer>