<!-- Categories name -->

<div class="card mb-3 text-center mx-auto mt-5" id="format3">
    <h4 class="card-header">Administrator</h4>
    <div class="card-body">
        <a href="/admin/categories" class="h5 text-center text-info"> Categories </a><br>
        <a href="/admin/posts" class="h5 text-center text-info"> Posts </a>
    </div>
</div>

<footer>
    &copy; 2020 <a href="mailto:ruthmariia01@gmail.com" id="copyright">Ruth Maria</a>, Inc. All rights reserved.
</footer>