<div class="card">
    <div class="card-body text-justify">
        <h1 class="text-center">{{post.title}}</h1>
        <hr>
        <small>Publish date: {{post.date}}</small><br>
        <hr>
        {{post.content}}
    </div>
</div>