<!-- Detailed Post Content -->

<div class="card" id="format">
    <div class="card-body text-justify">
        <h1 class="h2 mt-2 mb-4 text-center" >{{post.title}}</h2>
            <hr>
            <small>Publish date: {{post.date}}</small><br>
            <hr>
            {{post.content}}
    </div>
</div><br>

<footer>
    &copy; 2020 <a href="mailto:ruthmariia01@gmail.com" id="copyright">Ruth Maria</a>, Inc. All rights reserved.
</footer>