<div class="jumbotron">
  <h1 class="display-4">Wellcome to this blog with Node.JS</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create an account</a>
</div>

<h2>Recent posts</h2>
{{#each posts}}
<div class='card'>
  <div class="card-body">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
  </div>
</div>
{{else}}
<h5>No posts</h5>
{{/each}}