#section{
    background:white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
}

#email, #password{ 
    color: #62748e;
    font-size: 12px;
    font-weight: bold;
}

#title, #copyright{
    text-align: center;
    color: #62748e;
}

footer{
    color: #62748e;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 15px;
}

sub{
    color: #de0a0a;
    font-size: 95%;
    top: -2px;
}