<br><br><br>
<section id="section">
<h2 class="h3" id="title">Login to your account</h2><br>

<div class="card">
    <div class="card-body">
        <form action="/users/login" method="post">

            <label for="email" id="email">E-mail address </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/img/icon-username.png"></div>
                </div>
                <input type="email" name="email" class="form-control" placeholder="E-mail address" required>
            </div><br>

            <label for="password" id="password">Password </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="/img/icon-password.png"></div>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password"required>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Log in</button>

        </form>
    </div>
</div>
</section>

<footer>
    &copy; 2020 <a href="mailto:ruthmariia01@gmail.com" id="copyright">Ruth Maria</a>, Inc. All rights reserved. 
</footer>