<h2>Login to your account</h2><br>

<div class="card">
    <div class="card-body">
        <form action="/users/login" method="post">

            <label for="email">E-mail: </label>
            <input type="email" name="email" class="form-control" placeholder="Enter your e-mail address" required>

            <label for="password">Password: </label>
            <input type="password" name="password" class="form-control" placeholder="Enter your password" required>

            <button type="submit" class="btn btn-success mt-4">Enter</button>

        </form>

    </div>
</div>